main {
	color: #172b4d;
	display: flex;
	align-items: start;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: scroll;
	/* padding: 0 5px; */
}

div {
	border-radius: 3px;
}

/* #main {
	display: flex;
	align-items: start;
} */

.title {
	font-weight: 600;
}

.editable {
	user-select: none;
	outline: none;
	padding: 10px;
	margin: 7px;
	cursor: pointer !important;
	display: flex;
	justify-content: space-between;
}

.editing {
	background: white;
	color: #172b4d !important;
	box-shadow: inset 0px 0px 0px 2px #0279bf;
}

.editing:hover {
	background: white !important;
}

.ghost {
	color: black;
	opacity: 0.3;
	background-color: black;
}

.ghost-list {
	color: transparent;
	mix-blend-mode: color;
}

.add-card {
	width: calc(100% - 35px);
	display: inline-block;
	padding: 10px;
	margin-top: 0px;
	color: gray;
	text-decoration: none;
}

.add-card:hover {
	background-color: rgba(9, 30, 66, 0.13);
}

.del {
	font-weight: 600;
	color: gray;
}
